<h1>All My Favorite Workouts!!!</h1>

<ul>
<% @workouts.each do |workout| %>
    <li><%= link_to workout.name, user_workout_path(user_id: workout.user_id, id: workout.id) %></li>
<% end %>
</ul>

<%= link_to "New Workout", new_user_workout_path %><br>
<%= link_to "Back", user_path(@user) %>