    <style>

        .centered{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .container{
            width: 280px;
            height: 150px;
            border-radius: 25px;
            background-color: black;
        }

    </style>


<body>
    <div class="centered">
        <div class="container">
            <div class="centered">
                <div class="btn-group-vertical">
                    <a class="btn btn-info" href=login role="button">Login</a><br>
                    <!--%= link_to "Login", login_path %-->
                    <a class="btn btn-info" href='/users/new' role="button">Create Account</a>
                    <!--%= link_to "Create Account", new_user_path %-->
                </div>
            </div>
        </div>
    </div>   
</body>
</html>