<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    
    <title></title>

    <style>

    html, body{
        margin: 0;
    }

    .container{
        padding: 5px 0 5px 0;
        display: flex;
        justify-content: space-around;
    }

    .mx-auto{
        width: 75%;
        justify-content: center;
    }

    </style>

</head>

<body>
<div class="mx-auto">
<%= month_calendar do |date| %>
    <% if DateOf.find_by(date_of: date, user_id: session[:user_id]) %>
        <%= link_to date.day, user_date_of_path(user_id: session[:user_id], id: DateOf.find_by(date_of: date).id) %>
    <% else %>
        <%= link_to date.day, new_user_date_of_path(user_id: session[:user_id], date_of: date) %>
    <% end %>
<% end %>
    <a class="btn btn-primary" href='/users/<%= @user.id %>' role="button" >Back</a>
    </div>
</div>
</body>
</html>