<h1><%= @date.date_of.strftime("%B %d") %> Workouts</h1>

<h3>Workouts</h3>
<ul>
<% @date.workouts.each do |workout| %>
    <li><%= link_to workout.name, user_workout_path(user_id: session[:user_id], id: workout.id) %></li>
<% end %>
</ul>

<%= link_to "Back", user_date_ofs_path(@user) %>